/* --------------------------- mobile --------------------------- */
/* BASE STYLES */

html {
    font-size: 16px;
    line-height: 1.4;
}


body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #453e4f;
    font-family: 'Barlow', sans-serif;
    font-size: 1.25em;
    width: 100%;
    margin: 0;
}

main {
    width: 100%;
    /* background: linear-gradient(#e8eff7, #ffffff, #e8eff7); */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark {
    background-color: #453e4f;
    color:#e8eff7;
}

ul {
    list-style-type: none;
    text-decoration: none;
    padding-inline-start: 0;
    margin: 0;
}

figure {
    width: fit-content;
}

img {
    width: 100%;
    height: auto;
    margin: auto;
    max-inline-size: 100%;
    block-size:auto;
    border: 1px solid #453e4f;
    border-radius: 20px;
}

#unplugged {
    border: none;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: 500;
}

h2, h3 {
    font-family: "Alike", serif;
    margin: 0 0 20px 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

#about p, #projects p {
    width: 100%;
    text-align: left;
}

/* scroll to top button */
#top-button {
    display: none;
    position: fixed;
    bottom: 10%;
    z-index: 99;
    right: 10%;
    width: 15%;
    background-color: #FFE8D6;
    border: solid 1px #453e4f;
    border-radius: 20px;
    padding: 15px;
}

/* --- HEADER --- */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0 50px 0;
}

header h1 {
    font-size: 3em;
    font-family: "Alike", serif;
    margin: 30px 0 30px 0;
}

/* #initials {
    background-color: #453e4f;
    color:#e8eff7;
    width: 100%;
    text-align: center;
    padding: 0.5em;
} */

#header-full-name {
    color: white;
}

header p {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
    padding: 0 50px 20px 50px;
    text-align: center;
    font-family: "Alike", serif;
}

/* nav */

header nav {
    width: 85%;
    margin-bottom: 30px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}

/* nav ul li {
    font-weight: bold;
    text-transform: uppercase;
} */

header a {
    color:#e8eff7;
}

#nav-contact {
    /* background-color: #e9b14c; */
    /* border: 2px solid #e9b14c; */
    border-radius: 20px;
    /* padding: 0 0.5em 0.25em 0.5em; */
}

/* --- MAIN --- */

/* ABOUT */

/* ABOUT */
#about {
    /* background-color: #e8eff7; */
    align-items: center;
    padding: 30px 0;
}

#about h2 {
    margin-top: 30px;
}

#about p {
    line-height: 1.5em;
}

#about img {
    border: 2px solid #453e4f;
    border-radius: 50%;
}

#about-me {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hi {
    font-family: 'Alike', serif;
    font-size: 1.5em;
}

/* PROJECTS */
#projects h2 {
    margin: 60px 0 0 0;
}

.projects-list {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 85%;
    padding: 0 30px 0 30px;
}

.project {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.project h3 {
    margin: 20px 0 20px 0;
}

.project-description {
    margin: 0 0 30px 0;
}

.view-project {
    padding: 0.5em 2em;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #FFE8D6;
    color:#453e4f;
    border: solid 1px #453e4f;
}

/* SKILLS */
#skills {
    padding: 60px 0;
    align-items: center;
    /* background-color:#e8eff7; */
}

#dev-skills {
    margin-top: 0;
}

#skills ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 20px 0;
}

#skills ul li {
    padding: 0.75em;
}


/* --- FOOTER --- */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 30px 0 30px;
    width: 100%;
}

#contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: #e8eff7;
}

footer h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
}

#email-address {
    margin: 30px 0;
}

.social-links {
    display: flex;
    justify-content: space-around;
    min-width: 200px;
    font-size: 1.5em;
    line-height: 1.5em;
}

#copyright {
    margin-top: 60px;
    margin-bottom: 60px;
}



/* --------------------------- tablet --------------------------- */
@media only screen and (min-width: 768px) {

#top-button {
    width: 8%;
}

/* HEADER */
header {
    padding: 60px 0 80px 0;
}

header nav ul {
    font-size: 1.5em;
}

header h1 {
    font-size: 4em;
    margin: 50px 0;
}

header h3 {
    font-size: 2em;
    margin: 30px 0 40px 0;
}

/* ABOUT */

#about h2 {
    margin: 50px 0;
}

/* PROJECTS */


/* SKILLS */


/* CONTACT */

}

/* --------------------------- desktop --------------------------- */
/* @media only screen and (min-width: 1200px) {} */

/* HEADER */

/* header nav ul {
    text-transform: uppercase;
    font-weight: bold;
 } */

/* ABOUT */


/* PROJECTS */


/* SKILLS */


/* CONTACT */

